<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>

    	<meta charset="UTF-8"/>
    	<title th:text="#{result.page.title}">Purchase Course</title>

    	<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" 
    		rel="stylesheet" media="screen" 
    		th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>
            
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>        

    	<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

		<style>
		
			.loginlogout {
		  	padding-left: 90%;
			}
		
		</style>

</head>
	<body>
		<div class="loginLogout">
			<table>
				<tr>
			 		<td>
			 			<div th:if="${session.email == 'dummy-fictious-email'}">
	   					<a th:href="@{#{app.url.student.login}}">Login</a>
	   					</div>
	   					<div th:if="${session.email != 'dummy-fictious-email'}">
	   						<a th:href="@{#{app.url.student.logout}}">Logout</a>
	   					</div>
			 		</td>
				</tr>
				<tr>
					<td>
	   					<a th:href="@{#{app.url.student.logout}}">Home</a>
	   				</td>
				</tr>
			</table>
		</div>
		
		<div style="overflow:scroll; width:900px; height:150px;">
			<table  frame="box" style="padding: inherit; border: thin solid #000000; 
				background-color: #6B696B; color: #FFFFFF; border-collapse: collapse;">
    			<thead>
        			<tr>
            			<th style="width:40%;" align="left"> Course Name </th>
            			<th style="width:10%;" align="left"> domainName </th>
            			<th style="width:8%;" align="right"> rating </th>
            			<th style="width:10%;" align="right"> price </th>
            			<th style="width:10%;" align="right"> chapters </th>
        			</tr>
    			</thead>
    			<tbody>					      
    				<tr th:if="${studentProfile.courseOrders.empty}">
            			<td colspan="2">You have not purchased Any course yet </td>
        			</tr>
        			<tr th:if="${!studentProfile.courseOrders.empty}" th:each="courseOrderDto : ${studentProfile.courseOrders}">
            			<td style="width: 40%;" align="left">
            				<input type="checkbox" class="groupCheck" 
            				name="courseKey" th:value="${courseOrderDto.courseOrderKey}"/>
            				<span th:text="${courseOrderDto.course.courseName}"> 
            				
            					courseName 
            				</span>
            			</td>
            				<td style="width: 10%;" align="left">
            					<span th:text="${courseOrderDto.course.domainName}"> 
            					domainName 
            					</span>
            			</td>
            			<td style="width: 8%;" align="right">
            				<span th:text="${courseOrderDto.course.rating}"> 
            					rating 
            				</span>
            			</td>
            			<td style="width: 10%;" align="right">
            				<span th:text="${courseOrderDto.course.price}"> 
            					price 
            				</span>
            			</td>
            				<td style="width: 10%;" align="right">
            					<span th:text="${courseOrderDto.course.chapters}"> 
            						chapters 
            					</span>
            			</td>
        			</tr>
    			</tbody>
			</table>
		</div>
			
		<div class="container">
			<form class="form-horizontal" th:object="${buyOrCancelCouresesRequest}" 
				th:action="@{/doCancelPurchasedCourse}" method="post" id="form_id">

        		<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            		<p th:text="#{buyOrCancelCouresesRequest.hasErrors}">Error Message</p>
        		</div>

        		<div class="form-group" th:class="${#fields.hasErrors('studentEmail')} ? 'form-group has-error' : 'form-group'">
            
            		<label class="col-sm-2 control-label">Email:</label>
            		<div class="col-sm-10">
               			
               			<input type="text" class="form-control" th:field="*{studentEmail}" 
               				th:errorclass="has-error"/>
               			
               			<span class="help-block" th:if="${#fields.hasErrors('studentEmail')}">
                   			<ul>
                       			<li th:each="err : ${#fields.errors('studentEmail')}" 
                       			th:text="${err}"/>
                   			</ul>
               			</span>
            		</div>
        		</div>
        
        		<div class="row">
            		<button id="submitId" type="submit" class="btn btn-default">Submit</button>
        		</div>
        
        		<div id ="courseKeys_Id" class="form-group" 
        			th:class="${#fields.hasErrors('courseKeys')} ? 'form-group has-error' : 'input_fields_wrap'">
	       	 
	       	 		<span class="help-block" th:if="${#fields.hasErrors('studentEmail')}">
                  		<ul>
                    	  <li th:each="err : ${#fields.errors('courseKeys')}" th:text="${err}"/>
                  		</ul>
             		</span>
	       			<label class="col-sm-2 control-label">Courses:</label>	                   	
					<input type="text" name="courseKeys" class = "form-control" 
						th:field="*{courseKeys}" th:errorclass="has-error" 
							style="visibility:hidden" disabled>
       			 </div>
    		 </form>
 		</div>
 
 		<script>
 
		   		$(document).ready(function() {
		
		   			//maximum input boxes allowed	
				   	var max_fields      = 10; 
				   	
				  	//Fields wrapper
		   			var wrapper   		= $("#courseKeys_Id"); 
				
				  	//initlal text box count
					var x = 1; 
				
					//on add input button click
					$('input[type="checkbox"]').click(function(e){ 
						
						//max input box allowed
						if(x < max_fields && notExsist($(this).val()) 
								&& $(this).is(":checked") ) { 
							
							x++; //text box increment
							$(wrapper).append('<div><input type="text" name="courseKeys" value=' 
									+  $(this).val() + 
									' size = "64" /><a href="#" class="remove_field">Remove</a></div>'); //add input box
						}
					});
				
					//user click on remove text
					$(wrapper).on("click",".remove_field", function(e){ 
						$(this).parent('div').remove(); x--;
					});
				
				 	function notExsist(val) {
				   
				   		var flag = true;
				   
				   		$('#courseKeys_Id div input[type="text"]')
				   			.each(function (index,value) {
					    
					   			if($(value).val() == val) {
									flag = false; 
									return flag;
								}  
							});
				   
				   		return flag;	
			   		}
			});
   
 		</script>
	</body>
</html>