<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title th:text="#{result.page.title}">Purchase Course</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
		<style>
			.loginlogout {
		  	padding-left: 90%;
			}
		
			.bs-example{
        		margin: 20px;        
    		}
		
			.scrollable {
 				height:40em;
				overflow:scroll;
 			}
		</style>
	</head>
	<body style="background-color:#faf0dc" th:style= "${session.email == 'admin@gmail.com'} ? 'background-color:#e6fffd' : 'background-color:#faf0dc'">
		<div class="container my-2">
		<ul class="nav nav-tabs">
				<li class="nav-item">
		     			<a class="nav-link" th:href="@{#{app.url.show.student.home}}">Welcome</a>
		   		</li>
		   		<li class = "nav-item" th:if="${session.email == 'dummy-fictious-email'}">
				 	<a th:href="@{#{app.url.show.student.signup}}" class="nav-link">
						Register
					</a>
				</li>
				<li th:if="${session.email != 'dummy-fictious-email'}">
			         <a th:href="@{#{app.url.show.student.courses.restclient} + ${session.email}}">
			         		My Courses
			         </a>
			    </li>
			    <li class = "nav-item" th:if="${session.email != 'dummy-fictious-email'}">
		        	 <a th:href="@{#{app.url.show.student.profile}}" class="nav-link">
		         			Student Profile
		        	 </a>
		    	</li>
		   		<li class="nav-item dropdown">
		     				<a class="nav-link dropdown-toggle" data-toggle="dropdown"  href="#">Search Courses<span class="caret"></span></a>
		     				<div class="dropdown-menu">
		     					<a class="dropdown-item" th:href="@{#{app.url.show.all.courses.by.domain}}">
								Show Courses By Domain Name
							</a>
		     					<a class="dropdown-item" th:href="@{#{app.url.show.all.courses.by.domain.and.rating}}">
								Show Courses By Domain And Rating
							</a>
		     				</div>
		   		</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Buy/Cancel Courses<span class="caret"></span></a>
					<div class = "dropdown-menu">
					  	<a class="dropdown-item" th:href="@{#{app.url.purchase.courses}}">
							Purchase Courses 
						</a>
						<a class="dropdown-item" th:href="@{#{app.url.cancel.parchased.courses}}">
							Cancel Purchased Courses 
						</a>	
					</div>
				</li>
				<li class = "nav-item" th:if="${session.email != 'dummy-fictious-email'}">
				 	<a th:href="@{#{app.url.student.update}}" class="nav-link">
						Update Profile
					</a>
				</li>
				<li th:if="${session.email == 'dummy-fictious-email'}" class="nav-item">
						<a th:href="@{#{app.url.student.login}}" class="nav-link">
						Login
					</a>
				</li>
				<li  th:if="${session.email != 'dummy-fictious-email'}"  class = "nav-item">
			 		<a th:href="@{#{app.url.student.logout}}" class="nav-link">
						Logout
					</a>
				</li>
			</ul>	
			<div class="card">
				<div class="card-body">
					<div class="container my-8">
				 		<div class="row">
							<div class="col-md-6">
								<div class="scrollable horizontal-scrollable">
									<table class="table table-striped table-responsive-md">
										<thead>
	        								<tr>
	            								<th> Course Name </th>
				            					<th> domainName </th>
				            					<th> rating </th>
				            					<th> price </th>
				            					<th> chapters </th>
	        								</tr>
			    						</thead>
										<tbody>
											<tr th:if="${studentProfile.courseOrders.empty}">
			            						<td colspan="2">You have not purchased Any course yet </td>
			        						</tr>
			        						<tr th:if="${!studentProfile.courseOrders.empty}" th:each="courseOrderDto : ${studentProfile.courseOrders}">
	            								<td align="left">
	            									<input type="checkbox" class="groupCheck" 
	            										name="courseKey" th:value="${courseOrderDto.courseOrderKey}"/>
	            									<span th:text="${courseOrderDto.course.courseName}"> 
	            										courseName 
	            									</span>
	            								</td>
	            								<td align="left">
	            									<span th:text="${courseOrderDto.course.domainName}"> 
	            										domainName 
	            									</span>
	            								</td>
	            								<td align="right">
	            									<span th:text="${courseOrderDto.course.rating}"> 
	            										rating 
	            									</span>
	            								</td>
	            								<td align="right">
	            									<span th:text="${courseOrderDto.course.price}"> 
	            										price 
	            									</span>
	            								</td>
			            						<td align="right">
	            									<span th:text="${courseOrderDto.course.chapters}"> 
	            										chapters 
	            									</span>
			            						</td>
			        						</tr>
										</tbody>
									</table>
								</div>
							</div>	
							<div  class="col-md-6">
								<form class="form-horizontal" th:object="${buyOrCancelCouresesRequest}" 
									th:action="@{/doCancelPurchasedCourse}" method="post" id="form_id">
	
				        			<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				            			<p th:text="#{buyOrCancelCouresesRequest.hasErrors}">Error Message</p>
				        			</div>
	
		        					<div class="form-group" th:class="${#fields.hasErrors('studentEmail')} ? 'form-group has-error' : 'form-group'">
		            
		            					<label class="control-label">Email:</label>
		            					<input type="email" class="form-control" th:field="*{studentEmail}" 
	               							th:errorclass="has-error"/>
	               				
			              				<div class="help-block" th:if="${#fields.hasErrors('studentEmail')}">
			                   				<ul>
			                       				<li th:each="err : ${#fields.errors('studentEmail')}" 
			                       				th:text="${err}"/>
			                   				</ul>
			               				</div>
	              				
										<button id="submitId" type="submit" class="btn btn-primary active" 
			               						style="margin-top: 2%;">
			               						Submit
			               				</button>
		        					</div>
	        
	        						<div id ="courseKeys_Id" class="form-group" 
	        							th:class="${#fields.hasErrors('courseKeys')} ? 'form-group has-error' : 'input_fields_wrap'">
		       	 
		       	 						<div class="help-block" th:if="${#fields.hasErrors('studentEmail')}">
	                  						<ul>
	                    	  					<li th:each="err : ${#fields.errors('courseKeys')}" th:text="${err}"/>
	                  						</ul>
	             						</div>
		       							<label class="control-label">Courses:</label>	                   	
										<input type="text" name="courseKeys" class = "form-control" 
											th:field="*{courseKeys}" th:errorclass="has-error" 
												style="visibility:hidden" disabled>
	       			 				</div>
	    		 				</form>
	 						</div>
	 					</div>
	 				</div>
				</div>
			</div>	
 		</div>
 		<script>
 
		   		$(document).ready(function() {
		
		   			//maximum input boxes allowed	
				   	var max_fields      = 10; 
				   	
				  	//Fields wrapper
		   			var wrapper   		= $("#courseKeys_Id"); 
				
				  	//initlal text box count
					var x = 1; 
				
					//on add input button click
					$('input[type="checkbox"]').click(function(e){ 
						
						//max input box allowed
						if(x < max_fields && notExsist($(this).val()) 
								&& $(this).is(":checked") ) { 
							
							x++; //text box increment
							$(wrapper).append('<div><input type="text" name="courseKeys" value=' 
									+  $(this).val() + 
									' size = "64" /><a href="#" class="remove_field">Remove</a></div>'); //add input box
						}
					});
				
					//user click on remove text
					$(wrapper).on("click",".remove_field", function(e){ 
						$(this).parent('div').remove(); x--;
					});
				
				 	function notExsist(val) {
				   
				   		var flag = true;
				   
				   		$('#courseKeys_Id div input[type="text"]')
				   			.each(function (index,value) {
					    
					   			if($(value).val() == val) {
									flag = false; 
									return flag;
								}  
							});
				   
				   		return flag;	
			   		}
			});
 		</script>
	</body>
</html>